/*
*
*		COLORS
*
*/


/*
*
*		ELEMENTS
*
*/

.waypoint826-main {

	height: 300px;
	width: 300px;
	background-color:none;
	border-right: 1px solid #ccc;
	position: absolute;
	/* right: 80%; */
	padding: 20px;
}

#waypoint826-primary-container {

}

#waypoint826-primary-container.stick {
	position: fixed;
	top: 0!important;
	
}

.limit-width {
    transition: width 0.5s ease;

}

.list-wrapper {

}
/*
*
*		SECTION
*
*/


/*
*
*		SECTION
*
*/



/*
*
*		SECTION
*
*/