/*
*
*		COLORS
*
*/


/*
*
*		ELEMENTS
*
*/

:root {
	--primary: #2366E5; /*#4280f7;*/
	--text-primary: #222;
	--text-secondary: #777777;
	--base-unit: 8px;
}


html {
    scroll-behavior: smooth;
}

.waypoint826-main {
	
	width: 250px;
	background-color:none;
	border-right: 1px solid #ccc;
	position: absolute;
	/* right: 80%; */
	padding: 60px 20px 80px 20px;
	transition: left 0.5s ease;
	transition: opacity 0.5s ease, visibility 0.5s ease;
}


/*   LIST STYLING   */


.waypoint826-main ol {
	list-style-type: none;
}

ol.list-wrapper {
	
	font-family: 'League Spartan';
}

.waypoint826-main ol.list-wrapper li {
	color: var(--text-secondary);
	margin-bottom: calc(var(--base-unit) * 2.25);
	line-height: 1.15;
}


.waypoint826-main ol.list-wrapper li.active, 
.waypoint826-main ol.list-wrapper li.active::marker {
	/* display: none; */
	font-weight: 500;
	color: var(--text-primary)!important;
	/*color: #555555!important;*/
}

.waypoint826-main ol.list-wrapper li a {
	display: inline-block;
	color: var(--text-secondary);
	font-size: 16px;
}

.waypoint826-main ol.list-wrapper li.active a {
	color: var(--text-primary)!important;
}

.waypoint826-main ol li.active a {}


#waypoint826-primary-container {

}

#waypoint826-primary-container.stick {
	position: fixed;
	/* right: calc(100% - 10px); /* Adjusting the left position by 10px */
	width: 250px;
	top: 0!important;
}

.limit-width {
    transition: width 0.5s ease;

}

.list-wrapper {

}
/* SELECTORS */

.waypoint826-main ol.list-wrapper li.h2_selector { margin-left: 0px; }

ol li a.h4_selector { margin-left: 6px; }

ol li a.h5_selector { margin-left: 9px; }


/*
*
*		SECTION
*
*/



/*
*
*		SECTION
*
*/